<div class="back-link"><%= link_to '<< Back to All Items', items_path %></div>

<% if notice %>
  <div class="alert-box success radius"><%= notice %></div>
<% end %>

<h1>
  <%= @item.name %>
</h1>
<div class="small-4 columns">
  <%= image_tag @item.image_url, class: "featured" %>
</div>
<div id="bid-form">
  <%= render 'your_bid' %>
</div>
<div class="small-4 columns">
</div>
